# JetBrains project files
.idea

# NPM
node_modules

# NativeScript application
hooks
platforms


# Created by https://www.gitignore.io/api/vuejs,nativescript
# Edit at https://www.gitignore.io/?templates=vuejs,nativescript

### NativeScript ###
/platforms
/hooks
/node_modules
/lib
/debugger
/dist

/app/**/*.map
# shouldn't ignore this for vanilla nativescript
# /app/**/*.js

.DS_Store
**/*.log
tags

ers.txt

### Vuejs ###
# Recommended template: Node.gitignore

node_modules/
dist/
npm-debug.log
yarn-error.log

# End of https://www.gitignore.io/api/vuejs,nativescript