@import "./assets/styles/applist.css";
@import "./assets/styles/appff.css";

.mi { font-family: "Material Icons", MaterialIcons; }
.fsb { font-family: "Fira Sans Bold", FiraSans-Bold; }
.fsi { font-family: "Fira Sans Italic", FiraSans-Italic; }
.fsr { font-family: "Fira Sans Regular", FiraSans-Regular; }

.fs8 { font-size: 8 }
.fs9 { font-size: 9 }
.fs10 { font-size: 10 }
.fs12 { font-size: 12 }
.fs13 { font-size: 13 }
.fs14 { font-size: 14 }
.fs15 { font-size: 15 }
.fs16 { font-size: 16 }
.fs18 { font-size: 18 }
.fs20 { font-size: 20 }
.fs22 { font-size: 22 }
.fs24 { font-size: 24 }
.fs25 { font-size: 25 }
.fs28 { font-size: 28 }
.fs32 { font-size: 32 }
.fs35 { font-size: 35 }
.fs40 { font-size: 40 }
.fs45 { font-size: 45 }
.fs50 { font-size: 50 }

.elevate-1 { android-elevation: 1 }
.elevate-2 { android-elevation: 2 }
.elevate-3 { android-elevation: 3 }
.elevate-4 { android-elevation: 4 }
.elevate-5 { android-elevation: 5 }
.elevate-6 { android-elevation: 6 }
.elevate-7 { android-elevation: 7 }
.elevate-8 { android-elevation: 8 }
.elevate-9 { android-elevation: 9 }

.text-underline { text-decoration: underline; }
.cp { color: #FF8844; }
.bcp { background-color: #FF8844; }


PropertyEditor {
    margin-top: 6;
    margin-bottom: 6;
}

DataFormEditorLabel {
    color:#FFA656;
    font-family: "Fira Sans Italic", FiraSans-Italic;
    font-size: 16;
}

DataFormEditorCore {
    font-family: "Fira Sans Regular", FiraSans-Regular;
    font-size: 18;
}

.metric-item {
    border-radius: 5;
    border-width: 1;
    border-color: #E1E1E1;
    /*android-elevation: 1;*/
}
